*{
  margin: 0;
  padding: 0;
  font-weight: normal;
}
h2{
  font-family: 'Raleway',sans-serif;
  font-weight: 700;
}
body{
  width: 1440px;
  margin: auto;
  font-family: 'Open Sans',sans-serif;
}
.title-h2{
  font-weight: bold;
}
header{
  margin-top: 50px;
  display: flex;
  //background-color: aqua;
  justify-content: space-between;
  align-items: center;
}
header img{
  margin-left: 70px;
}
header ul{
  display: flex;
  flex-wrap: wrap;
}
header ul li{
flex: 1;
margin: 0 20px;
white-space: nowrap;
list-style: none;

}
header ul li a{
  text-decoration: none;
  color: black;
}
.first-page{
  margin-top: 100px;
  display: flex;
}
.started{
flex: 1;
//background-color: lightskyblue;
}
.image-first-right{
  flex: 1;
}
.image-first-right img{
  max-width:720px;
  max-height:720px;
  width: auto;
  height: auto;
}
.started{
  padding: 120px 70px;
}
.started h2{
  font-size: 40px;
  font-weight: 700;
}
.started p{
  margin-top: 20px;
  font-size: 18px;
}
.started form{
  margin-top: 20px;
}
.started #email{
  background-color: white;
  padding: 12px 70px;
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid hsl(243, 87%, 12%);
}
.started #email::placeholder{
  font-size: 16px;
  color: lightgrey;
  
}
.started #submit{
  box-shadow: none;
  border-radius: 3px;
  border: 0;
  padding: 12px 70px;
  margin-left: 10px;
  background-color: hsl(224, 93%, 58%);
  color: white;
  font-size: 16px;
}
.image-2{
  margin-bottom: -20px;
}
.second-page{
  margin-top: 100px;
}
.content{
  background-color:hsl(240, 75%, 98%);
  display: flex;
  padding: 60px 70px;
  height: 570px;
}
.description{
  flex: 6;
}
.description h2{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
}
.description p{
  margin-top: 20px;
  font-weight: 400;
  width: 520px;
}
.link-2{
  margin: 20px 0;
  width: 168px;
  border-bottom: 1px solid hsl(170, 45%, 43%);
  
}
.link-2 a{
  text-decoration: none;
  color: hsl(170, 45%, 43%);
}
.image-second-right{
  flex: 5;
}
.image-second-right img{
max-width:580px;
max-height:580px;
width: auto;
height: auto;
}

.commentary{
  background-color: white;
  width: 390px;
  height: 230px;
  /*box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.034);*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.061),
  0 6px 20px 0 rgba(0, 0, 0, 0.068);
  margin-top: 50px;
}
.commentary img{
  margin-left: 40px;
  margin-top: 20px;
}
.commentary p{
  margin-left: 40px;
  width: 340px;
}
#image-person{
  margin-top: 25px;
  max-width:40px;
  max-height:40px;
  width: auto;
  height: auto;
  border-radius: 50%;
}
.person-cargo{
  display: flex;
}
.person-cargo ul{
  margin-top: 30px;
  margin-left: 15px;
}
.person-cargo li{
  list-style: none;
}
#name{
  font-size: 14px;
  font-weight: bold;
}
#cargo{
  font-size: 10px;
}
.third-page{
  background-color:hsl(238, 22%, 44%);
  display: flex;
}
.third-access{
  flex: 1;
  width: 720px;
  padding: 100px 0px 100px 70px ;
  color: white;
}
.third-access h2{
  font-size: 32px;
  margin-bottom: 20px;
}
.third-access p{
  width: 500px;
}
.third-form{
  flex: 1;
}
.third-form form{
  display: flex;
  flex-direction: column;
  padding:110px 70px;
  margin-right: 50px;
}
#email2{
  background-color: white;
  padding: 12px 70px;
  border-radius: 3px;
  box-shadow: none;
  border: 0;
  margin-bottom: 15px;

}
#submit2{
  font-family: 'Raleway' ;
  font-weight: 400;;
   box-shadow: none;
   border-radius: 3px;
   border: 0;
   padding:  12px 0 12px;
   background-color: hsl(224, 93%, 58%);
   color: white;
   font-size: 16px;
   justify-items: flex-start;
   margin-right: 250px;
}
footer{
  background-color: hsl(243, 87%, 12%);
}
.contact {
  padding: 70px 100px;
  color: white;
}
.contact li{
  list-style: none;
  margin:  20px 0 20px;
}
.info{
  margin-left: 20px;
}

